@import url(normalize.css);

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(174, 205, 255);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 174, 174);  
    width: 60vw;
    height: 100vh;
    margin: auto;
    overflow: hidden
}

.wrapper input {
	display: none;
}

.slider {
    display: flex;
    background-color: blue;
    width: 500%;
}

.slides {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    background-color: blue;
    width: 500%;
}

.content span {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    max-width: 100%;
    max-height: 80vh;
}