@import url(normalize.css);

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(174, 205, 255);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 174, 174);  
    width: 60vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.wrapper input {
	display: none;
}

.slider {
    display: flex;
    background-color: blue;
    width: 500%;
	margin-left: 400%;
}

.slides {
    width: 20%;
    display: flex;
	/* margin: 1.5rem 0;
    padding: 1rem; */
    justify-content: center;
    align-items: center;
}

.content {
	width: 100%;
	display: flex; 
	justify-content: space-between;
	flex-direction: row;
}

.controls {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
    height: 4rem;
    padding: 0.2rem;
}

.discription {
	/* max-width: 90%; */
}

.textSlides {
	/* width: 500%; */
	display: flex;
	/* background-color: orange;  */
}


.textSlide {
	/* width: 20%; */
	/*height: 4rem; */
	/* height: auto; */
    /* display: flex; */
	/* justify-content: flex-start; */
	/* flex-wrap: wrap; */
	/* padding-right: 100px; */
	/* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
	/* overflow: hidden; */
	/* background-color: red; */
}

.textSlide p {
	/* width: 90%;
	margin-left: 0.2rem; */
}

.slides img {
    max-width: 100%;
    max-height: 80vh;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: auto;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}

#slide2:checked ~ .slider {
	margin-left: 200%;
}
#slide3:checked ~ .slider {
	margin-left: 0%;
}
#slide4:checked ~ .slider {
	margin-left: -200%;
}
#slide5:checked ~ .slider {
	margin-left: -400%;
	/* opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1); */
}
